body {
	color: green;
	font-family:Playfair;
	padding: 20px;
}
p{text-align: left;}
h1{text-align:centre;
	color: yellow;
}
.first {text-align: left;}
h2{text-align: left;
	color: yellow;
}bl
h3{text-align: left;
	color: yellow;
}
h4{text-align: left;
	color: yellow;
}
h5{text-align: left;
	color: yellow;
}
dt{text-align: left;
	color: light green;
}
table,th,td{border:1px solid black;
	width: 50%;
}
nav{text-align:right;
	justify-content:center;
	padding:0px;
	margin:0px;
	font-weight: bold;}
.project{
	background-color: white;
	colour:#333;
	display: flex;
	gap:15px;
	padding: 15px;
	margin:15px;
}
.project h2{
color: blue; 

}

